playbooks/automate-incident-response.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "Microsoft_Sentinel_incident": {
                "type": "ApiConnectionWebhook",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "body": {
                        "callback_url": "@{listCallbackUrl()}"
                    },
                    "path": "/incident-creation"
                }
            }
        },
        "actions": {
            "Select_Entities": {
                "runAfter": {},
                "type": "Select",
                "inputs": {
                    "from": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                    "select": {
                        "Entity": "@item()?['properties']?['friendlyName']",
                        "Entity Type": "@item()?['kind']"
                    }
                }
            },
            "Create_HTML_table_with_Entities": {
                "runAfter": {
                    "Select_Entities": [
                        "Succeeded"
                    ]
                },
                "type": "Table",
                "inputs": {
                    "from": "@body('Select_Entities')",
                    "format": "HTML"
                }
            },
            "Select_Alerts": {
                "runAfter": {
                    "Create_HTML_table_with_Entities": [
                        "Succeeded"
                    ]
                },
                "type": "Select",
                "inputs": {
                    "from": "@triggerBody()?['object']?['properties']?['alerts']",
                    "select": {
                        "Alert": "@item()?['properties']?['alertDisplayName']"
                    }
                }
            },
            "Create_HTML_table_with_Alerts": {
                "runAfter": {
                    "Select_Alerts": [
                        "Succeeded"
                    ]
                },
                "type": "Table",
                "inputs": {
                    "from": "@body('Select_Alerts')",
                    "format": "HTML"
                }
            },
            "Compose_Entity_Count": {
                "runAfter": {
                    "Create_HTML_table_with_Alerts": [
                        "Succeeded"
                    ]
                },
                "type": "Compose",
                "inputs": "@length(triggerBody()?['object']?['properties']?['relatedEntities'])"
            },
            "Compose_Email_Response": {
                "runAfter": {
                    "Compose_Entity_Count": [
                        "Succeeded"
                    ]
                },
                "type": "Compose",
                "inputs": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Security Incident Report</title>\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.6;\n            color: #333;\n            max-width: 800px;\n            margin: 0 auto;\n            padding: 20px;\n            background-color: #f4f4f4;\n        }\n        .container {\n            background-color: #ffffff;\n            border-radius: 8px;\n            box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n            overflow: hidden;\n        }\n        .header {\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            color: white;\n            padding: 30px;\n            text-align: center;\n        }\n        .header img {\n            max-width: 200px;\n            margin-bottom: 15px;\n        }\n        .header h1 {\n            margin: 0;\n            font-size: 28px;\n            font-weight: 300;\n        }\n        .severity-banner {\n            padding: 15px;\n            text-align: center;\n            font-weight: bold;\n            font-size: 18px;\n            text-transform: uppercase;\n        }\n        .severity-high {\n            background-color: #d32f2f;\n            color: white;\n        }\n        .severity-medium {\n            background-color: #f57c00;\n            color: white;\n        }\n        .severity-low {\n            background-color: #fbc02d;\n            color: #333;\n        }\n        .severity-informational {\n            background-color: #1976d2;\n            color: white;\n        }\n        .content {\n            padding: 30px;\n        }\n        .section {\n            margin-bottom: 30px;\n        }\n        .section-title {\n            color: #667eea;\n            font-size: 20px;\n            font-weight: 600;\n            margin-bottom: 15px;\n            padding-bottom: 10px;\n            border-bottom: 2px solid #667eea;\n        }\n        .metrics {\n            display: flex;\n            justify-content: space-around;\n            margin: 20px 0;\n        }\n        .metric {\n            text-align: center;\n            flex: 1;\n            padding: 15px;\n            background-color: #f8f9fa;\n            border-radius: 5px;\n            margin: 0 5px;\n        }\n        .metric-value {\n            font-size: 32px;\n            font-weight: bold;\n            color: #667eea;\n        }\n        .metric-label {\n            font-size: 12px;\n            color: #666;\n            text-transform: uppercase;\n            margin-top: 5px;\n        }\n        .info-row {\n            display: flex;\n            margin-bottom: 15px;\n            border-bottom: 1px solid #eee;\n            padding-bottom: 10px;\n        }\n        .info-label {\n            font-weight: 600;\n            color: #666;\n            min-width: 150px;\n        }\n        .info-value {\n            color: #333;\n            flex: 1;\n        }\n        .timeline {\n            background-color: #f8f9fa;\n            padding: 20px;\n            border-radius: 5px;\n            margin: 20px 0;\n        }\n        .timeline-item {\n            padding: 10px 0;\n            border-left: 3px solid #667eea;\n            padding-left: 15px;\n            margin-bottom: 10px;\n        }\n        .timeline-time {\n            font-weight: 600;\n            color: #667eea;\n        }\n        .timeline-desc {\n            color: #666;\n            font-size: 14px;\n        }\n        table {\n            width: 100%;\n            border-collapse: collapse;\n            margin: 15px 0;\n            background-color: white;\n        }\n        th {\n            background-color: #667eea;\n            color: white;\n            padding: 12px;\n            text-align: left;\n            font-weight: 600;\n        }\n        td {\n            padding: 10px 12px;\n            border-bottom: 1px solid #eee;\n        }\n        tr:hover {\n            background-color: #f8f9fa;\n        }\n        .button {\n            display: inline-block;\n            padding: 12px 30px;\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            color: white;\n            text-decoration: none;\n            border-radius: 5px;\n            font-weight: 600;\n            margin: 20px 0;\n            text-align: center;\n        }\n        .button:hover {\n            opacity: 0.9;\n        }\n        .recommendations {\n            background-color: #fff3cd;\n            border-left: 4px solid #ffc107;\n            padding: 15px;\n            margin: 20px 0;\n        }\n        .recommendations ul {\n            margin: 10px 0;\n            padding-left: 20px;\n        }\n        .footer {\n            background-color: #f8f9fa;\n            padding: 20px;\n            text-align: center;\n            color: #666;\n            font-size: 14px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <img src=\"@{parameters('emailLogoHeader')}\" alt=\"Company Logo\">\n            <h1>@{parameters('reportName')}</h1>\n        </div>\n        \n        <div class=\"severity-banner severity-@{toLower(triggerBody()?['object']?['properties']?['severity'])}\">\n            @{triggerBody()?['object']?['properties']?['severity']} Severity Incident\n        </div>\n        \n        <div class=\"content\">\n            <div class=\"section\">\n                <div class=\"section-title\">Executive Summary</div>\n                <div class=\"info-row\">\n                    <div class=\"info-label\">Incident Title:</div>\n                    <div class=\"info-value\">@{triggerBody()?['object']?['properties']?['title']}</div>\n                </div>\n                <div class=\"info-row\">\n                    <div class=\"info-label\">Incident Number:</div>\n                    <div class=\"info-value\">@{triggerBody()?['object']?['properties']?['incidentNumber']}</div>\n                </div>\n                <div class=\"info-row\">\n                    <div class=\"info-label\">Description:</div>\n                    <div class=\"info-value\">@{triggerBody()?['object']?['properties']?['description']}</div>\n                </div>\n            </div>\n            \n            <div class=\"metrics\">\n                <div class=\"metric\">\n                    <div class=\"metric-value\">@{length(triggerBody()?['object']?['properties']?['alerts'])}</div>\n                    <div class=\"metric-label\">Alerts</div>\n                </div>\n                <div class=\"metric\">\n                    <div class=\"metric-value\">@{outputs('Compose_Entity_Count')}</div>\n                    <div class=\"metric-label\">Entities</div>\n                </div>\n                <div class=\"metric\">\n                    <div class=\"metric-value\">@{triggerBody()?['object']?['properties']?['severity']}</div>\n                    <div class=\"metric-label\">Severity</div>\n                </div>\n            </div>\n            \n            <div class=\"section\">\n                <div class=\"section-title\">Timeline</div>\n                <div class=\"timeline\">\n                    <div class=\"timeline-item\">\n                        <div class=\"timeline-time\">First Activity: @{formatDateTime(triggerBody()?['object']?['properties']?['firstActivityTimeUtc'], parameters('dateTimeFormat'))}</div>\n                        <div class=\"timeline-desc\">Initial suspicious activity detected</div>\n                    </div>\n                    <div class=\"timeline-item\">\n                        <div class=\"timeline-time\">Incident Created: @{formatDateTime(triggerBody()?['object']?['properties']?['createdTimeUtc'], parameters('dateTimeFormat'))}</div>\n                        <div class=\"timeline-desc\">Incident generated in Microsoft Sentinel</div>\n                    </div>\n                    <div class=\"timeline-item\">\n                        <div class=\"timeline-time\">Notification Sent: @{formatDateTime(utcNow(), parameters('dateTimeFormat'))}</div>\n                        <div class=\"timeline-desc\">Security team notified</div>\n                    </div>\n                </div>\n            </div>\n            \n            <div class=\"section\">\n                <div class=\"section-title\">MITRE ATT&CK Tactics</div>\n                <div class=\"info-value\">@{join(triggerBody()?['object']?['properties']?['additionalData']?['tactics'],'<br>')}</div>\n            </div>\n            \n            <div class=\"section\">\n                <div class=\"section-title\">Related Entities</div>\n                @{body('Create_HTML_table_with_Entities')}\n            </div>\n            \n            <div class=\"section\">\n                <div class=\"section-title\">Associated Alerts</div>\n                @{body('Create_HTML_table_with_Alerts')}\n            </div>\n            \n            <div class=\"recommendations\">\n                <div class=\"section-title\" style=\"border: none; color: #856404;\">Recommended Actions</div>\n                <ul>\n                    <li>Review the incident details in Microsoft Sentinel</li>\n                    <li>Investigate all related entities and alerts</li>\n                    <li>Verify if the activity is legitimate or malicious</li>\n                    <li>Document findings and take appropriate remediation steps</li>\n                    <li>Update incident status once investigation is complete</li>\n                </ul>\n            </div>\n            \n            <div style=\"text-align: center;\">\n                <a href=\"@{triggerBody()?['object']?['properties']?['incidentUrl']}\" class=\"button\">Investigate in Sentinel →</a>\n            </div>\n        </div>\n        \n        <div class=\"footer\">\n            <p>This is an automated security alert from Microsoft Sentinel</p>\n            <p>For questions or concerns, contact: @{parameters('SecOpsEmail')}</p>\n            <p>© @{formatDateTime(utcNow(), 'yyyy')} Security Operations Center</p>\n        </div>\n    </div>\n</body>\n</html>"
            },
            "Send_an_email_(V2)": {
                "runAfter": {
                    "Compose_Email_Response": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['office365']['connectionId']"
                        }
                    },
                    "method": "post",
                    "body": {
                        "To": "jaychampaneri@studmemt.onmicrosoft.com",
                        "Subject": "New Microsoft Sentinel Incident - @{triggerBody()?['object']?['properties']?['title']}",
                        "Body": "<p>@{outputs('Compose_Email_Response')}</p>",
                        "Importance": "High"
                    },
                    "path": "/v2/Mail"
                }
            }
        },
        "outputs": {},
        "parameters": {
            "SecOpsEmail": {
                "defaultValue": "security@company.com",
                "type": "String"
            },
            "dateTimeFormat": {
                "defaultValue": "dd/MM/yyyy HH:mm:ss",
                "type": "String"
            },
            "emailLogoHeader": {
                "defaultValue": "https://your-logo-url.com/logo.png",
                "type": "String"
            },
            "reportName": {
                "defaultValue": "Security Incident Report",
                "type": "String"
            },
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "azuresentinel": {
                    "id": "/subscriptions/e4c18f04-ee94-44fa-986e-e45be35cb293/providers/Microsoft.Web/locations/North Central US/managedApis/azuresentinel",
                    "connectionId": "/subscriptions/e4c18f04-ee94-44fa-986e-e45be35cb293/resourceGroups/data_traiage/providers/Microsoft.Web/connections/azuresentinel",
                    "connectionName": "azuresentinel",
                    "connectionProperties": {}
                },
                "office365": {
                    "id": "/subscriptions/e4c18f04-ee94-44fa-986e-e45be35cb293/providers/Microsoft.Web/locations/North Central US/managedApis/office365",
                    "connectionId": "/subscriptions/e4c18f04-ee94-44fa-986e-e45be35cb293/resourceGroups/data_traiage/providers/Microsoft.Web/connections/office365",
                    "connectionName": "office365",
                    "connectionProperties": {}
                }
            }
        }
    }
}